# Build directories
frontend/build/
backend/public/static/
backend/public/precache-manifest.*.js
backend/public/service-worker.js

# Environment / Config
.env
.env.*
!.env.example
backend/config/default.json
backend/config/production.json

# Dependencies
node_modules/
frontend/node_modules/
backend/node_modules/