@import '~antd/dist/antd.css';
/* Standard properties for Firefox and modern browsers */
html {
    scrollbar-width: auto;
    scrollbar-color: rgb(0,95,135) #f0f0f0;
}

/* WebKit/Blink-specific fallback (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: rgb(0,95,135); 
    border-radius: 10px;
    border: 3px solid #f0f0f0; /* Creates a floating thumb effect */
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(0,70,105); 
}
.fileUpload-input{
    content: 'Select some files';
    display: inline-block;
    background: linear-gradient(to bottom, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 12px 6px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
}
.fileUpload-input::-webkit-file-upload-button {
    visibility: hidden;
}
.fileUpload-input:hover::before {
    border-color: black;
}
.fileUpload-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
    background: linear-gradient(to bottom, #e3e3e3, #f9f9f9);
}